node_modules
.next
out
dist
.env
.env.local
serviceAccountKey.json
documents.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# prototyper
/context_backup
# Sentry Config File
.env.sentry-build-plugin
